/* color palletes:
#fb7e14
#000000
#151515
#292929
#ffffff	 */

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}

/* backgrounds */
.bg-dark {
  background-color: #000000;
}
.bg-dark-gray {
  background-color: #151515;
}
.bg-light-gray {
  background-color: #292929;
}
.bg-white {
  background-color: #ffffff;
}
.bg-orange {
  background-color: #fb7e14;
}
/* fonts */
h1 {
  font-family: monospace, sans-serif;
  font-weight: bold;
  font-size: larger;
}
a,
p {
  font-family: Verdana, sans-serif;
}
.font-monospace {
  font-family: monospace, sans-serif;
}
.font-verdana {
  font-family: Verdana, sans-serif;
}
/* fonts colors */
.font-orange {
  color: #fb7e14;
}
.font-white {
  color: #ffffff;
}
.font-black {
  color: #000000;
}

/* font alingment */
.font-centered {
  margin: 1px 8px 1px 8px;
  text-align: center;
}
.font-justify {
  margin: 1px 8px 1px 8px;
  text-align: justify;
}
.font-left {
  margin: 1px 8px 1px 8px;
  text-align: left;
}

/* navbar */
.nav-style {
  position: fixed;
  overflow: hidden;
  z-index: 2 !important;
  width: 100%;
  padding: 5px 0 5px 0;
  background-color: #292929;
}
.nav-children {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
@media (max-width: 425px) {
  .nav-children {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
li {
  list-style-type: none;
}

/* anchor */
a {
  color: #fb7e14;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  transition: 0.3s;
}
/* parallax back ground image effect + title*/
.parallax {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5d856e3d132e863fa2968760/1569056434415-X4D2IIBURIZJ4VCD9Z6S/2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  text-align: center;
  color: #ffffff;
}
.parallax2 {
  background-image: url("https://media.moddb.com/images/mods/1/42/41817/Black_Mesa_outdoors_desert.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* middle photos grid  */
.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  gap: 15px;
}
@media (max-width: 425px) {
  .wrapper {
    flex-direction: column;
    max-width: 100%;
    gap: 15px;
  }
}
/* wrapper children */
.one {
  display: grid;
  place-items: center;
  max-width: 100%;
  height: auto;
}
.two {
  display: grid;
  place-items: center;
  max-width: 100%;
  height: auto;
}
.three {
  display: grid;
  place-items: center;
  max-width: 100%;
  height: auto;
}
/* carousel container */
.carousel-conatainer {
  display: flex;
  margin: 10px 20px 10px 20px;
}
/* footer + footer grid*/
footer {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  min-height: 250px;
}
@media (max-width: 425px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
  }
}
.footer-item {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
}
.footer-item-custom {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #df7110;
  height: auto;
  padding: 10px 0 10px 0;
  font-weight: bold;
  color: #000000;
  gap: 10px;
}

/* hr */
hr {
  opacity: 30%;
}

/* paddings */
.padding-y {
  padding: 15px 0 15px 0;
}
.padding-x {
  padding: 0 10px 0 10px;
}
.padding-top {
  padding-top: 15px;
}
.padding-bottom {
  padding-bottom: 15px;
}

/* custom-carrousel-description */
.custom-description {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: monospace;
  text-align: center;
  color: #ffffff;
}
